body{
    background-color: #E3F1F7;
}

#sign-in-box {
    background-color: white;
    position: absolute;
    top: 20%;
    left: 35%;
    width: 800px;
    margin-left: 50px;
    margin-top: 40px;
    height: 500px;
    width: 323px;
    height: 342px;
    box-shadow: 10px 10px 8px 10px #DAE8EE;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #8D8D8D;
}

hr {
    size: 1; 
    width: 100%; 
   margin-right: 20px;
    color: #8D8D8D
}


li {
    list-style-type: none;
    margin-top: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #8D8D8D;
    margin-left: 10px;
    margin-right: 20px;

    
}

h1 {
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    margin-top: 0px;
    color: #8D8D8D;
    text-transform: uppercase;
}

.btn {
    align-items: center;
    background-color: #3498DB;
    color: white;
    height: 42px;
    width: 260px;
    margin-top: 30px;
    margin-left: -4px;
    border: none;
}
.btn:hover {
    background-color: white;
}

p {
    text-align: center;
    color: #8D8D8D;
    font-size: 12px;
}
